<nav>
  <ul class="margin-l-r-100">
    <li class="float-l"><img class="b-rad-50"src="" alt="profile-picture"></li>
    <li class="float-l"><a href="/workshop">{{currentElf.name}}</a></li>
    <li style="float:right"><a href="/logout">Log out</a></li>
  </ul>
</nav>

<div class="flex container">
  <h2>
    Welcome {{currentElf.name}} to your Workshop Space
  </h2>
    {{> flash_message}}
</div>


<main class="flex container margin-b">

  <div class="width-60">
    <section class="flex j-space-around border-bottom-blk">
      <h4>Pending Request</h4>
    </section>

    <div>
    <section class="flex j-space-around flex-dir-clmn" >
      <div class="flex j-space-around border-bottom-blk">
      <h4>All Requests</h4>
      </div>

      {{#each giftArray}}
    <div class="l-card">
      <ul>
        <li>Requester budget: {{this.requesterBudget}}</li>
        
        <li>Gender: {{this.recipientGender}}</li>
        
        <li>Age: {{this.recipientAge}}</li>

        <li>Additional Info: {{this.recipientAdditionalInfo}}</li>

        <li>Suggestions: {{this.giftSuggestions}}</li>
      </ul>
      
        <form class="flex flex-dir-clmn" action="" method="POST">
          First Gift Idea: <input type="text" name="firstGiftIdea" placeholder=""><br>
          Second Gift Idea: <input type="text" name="secondGiftIdea" placeholder=""><br>
          Third Gift Idea: <input type="text" name="thirdGiftIdea" placeholder=""><br>
          <button>Submit</button>
        </form>
    </div>
      {{/each}}
    </section>
        </div>
  </div>

  <aside class="width-20">
    <div class="margin-top-80 flex j-space-around">
      <button class="width-60">Archive</button>
    </div>

    <div class="r-card">
      <div class="pad">
        <h4><b>Rewards: {{currentElf.rewards}}</b></h4> 
        <p>Something</p> 
      </div>
    </div>

  </aside>
</main>
