<nav>
  <ul>
    <li><img class="b-rad-50"src="" alt="profile-picture"></li>
    <li><a href="/workshop">{{currentElf.name}}</a></li>
    <li style="float:right"><a href="/logout">Log out</a></li>
  </ul>
</nav>

<main>
  <h2 class="flex center">
    Welcome {{currentElf.name}} to your Workshop Space
  </h2>

  {{> flash_message}}

  <aside>

  </aside>

  <article>
    <section>
    <ul class="flex center flex-dir-clmn">
      {{#each giftArray}}
      <li>
        <p>{{this.requesterBudget}}</p>
      
        <p>{{this.recipientGender}}</p>
      
        <p>{{this.recipientAge}}</p>
      </li>


      {{/each}}
    </ul>
    </section>
  </article>
</main>
