<nav>
  <ul>
    <li><img class="b-rad-50"src="" alt="profile-picture"></li>
    <li><a href="/workshop">{{currentElf.name}}</a></li>
    <li style="float:right"><a href="/logout">Log out</a></li>
  </ul>
</nav>

  <h2 class="flex center">
    Welcome {{currentElf.name}} to your Workshop Space
  </h2>

<main class="margins flex">

  {{> flash_message}}

  <div>
    <section class="flex center">
      <p>Pending Request</p>
    </section>

    <section class="flex center flex-dir-clmn" >
      <p>All Requests</p>

    <ul >
      {{#each giftArray}}
      <li>
        <p>{{this.requesterBudget}}</p>
      
        <p>{{this.recipientGender}}</p>
      
        <p>{{this.recipientAge}}</p>

        <p>{{this.recipientAdditionalInfo}}</p>

        <p>{{this.giftSuggestions}}</p>
      </li>
      
      <div class="flex center">
        <form class="flex flex-dir-clmn" action="" method="POST">
          First Gift Idea: <input type="text" name="firstGiftIdea" placeholder=""><br>
          Second Gift Idea: <input type="text" name="secondGiftIdea" placeholder=""><br>
          Third Gift Idea: <input type="text" name="thirdGiftIdea" placeholder=""><br>
          <button>Submit</button>
        </form>
      </div>
      {{/each}}
    </ul>
    </section>
  </div>

  <aside>
    <button>Archive</button>
  </aside>
</main>
